span > a {
  background: tomato;
  font-size: 24px;
  padding: 15px 30px;
  border-radius: 40px;
  
}

.voltar {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
}

ul {
  list-style-type: none;
}

